@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 100% "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676767;
  position: relative;
}

/* index */

/* 顶部导航条-中大型屏幕-start */
.row {
  margin: 0;
}
.logo-div {
  padding-top: 1.5%;
}
.top {
  padding: 20px 0;
}
.logo {
  margin-left: 34%;
}
.top-rt {
  padding-right: 0; /* 右侧菜单，col-sm、col-md时 */
}
.nav-main {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-main a {
  text-decoration: none;
  font-size: 1.6em;
  color: #676767;
}
.nav-main li {
  height: 32px;
  line-height: 32px;
  margin-bottom: 8px;
}
.nav-back {
  position: absolute;
  z-index: 0;
  display: block;
  width: 10px;
  height: 32px;
  left: 0;
  transition: width 1s;
  -webkit-transition: width 1s; /* Safari */
}
.nav-text {
  position: relative;
  z-index: 1
}
.nav-lt1 {
  width: 87%;
  border-bottom: 1px solid #52cc9d;
}
.nav-lt2 {
  width: 70.5%;
  border-bottom: 1px solid #1ba9f5;
}
.nav-lt3 {
  width: 53.6%;
  border-bottom: 1px solid #e645a5;
}
.nav-lt4 {
  width: 37%;
  border-bottom: 1px solid #8b5ef5;
}
.nav-rt {
  display: block;
  width: 11.6%;
  height: 32px;
}
.nav-back1, .nav-rt1, .phoneDiag1 {
  background: -moz-linear-gradient(left, #52cc9d 0, #017f4f 100%);
  background: -webkit-linear-gradient(left, #52cc9d 0, #017f4f 100%);
  background: linear-gradient(to right, #52cc9d 0, #017f4f 100%);
}
.nav-back2, .nav-rt2, .phoneDiag2 {
  background: -moz-linear-gradient(left, #1ba9f5 0, #0775aa 100%);
  background: -webkit-linear-gradient(left, #1ba9f5 0, #0775aa 100%);
  background: linear-gradient(to right, #1ba9f5 0, #0775aa 100%);
}
.nav-back3, .nav-rt3, .phoneDiag3 {
  background: -moz-linear-gradient(left, #e645a5 0, #9d3373 100%);
  background: -webkit-linear-gradient(left, #e645a5 0, #9d3373 100%);
  background: linear-gradient(to right, #e645a5 0, #9d3373 100%);
}
.nav-back4, .nav-rt4, .phoneDiag4 {
  background: -moz-linear-gradient(left, #8b5ef5 0, #563e96 100%);
  background: -webkit-linear-gradient(left, #8b5ef5 0, #563e96 100%);
  background: linear-gradient(to right, #8b5ef5 0, #563e96 100%);
}

/* 顶部导航条-中大型屏幕-end */
.nav-row {
  display: none; /* 屏幕>768px时,不可见 */
}

/* 轮播图 */
.swiper-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}
.swiper-slide {
  text-align: center;
  background: #fff;    /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container img {
  width: 100%;
}
.phoneSwiper {
  display: none;
}
.flex-mask {
  position: absolute;
  z-index: 2;
  width: 20%;
  background-color: rgba(223, 223, 223, .7);
  right: 0;
  top: 0;
  bottom: -30px
}
.diagnose {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: -50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 19.5%;
  background-color: #0085c4
}
.image-wrapper {
  float: left;
  width: 26%;
  height: 84%;
  margin-top: 2.5%;
  margin-left: 3%;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}

/* 一键查询 */
.phone-diagnose {
  display: none; /* 屏幕>768px时，隐藏*/
}
.diagnose-mask, .form-mask{
  display: none;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.diagnose-mask{
  background-color: rgba(145, 145, 145, .8);
}
/* 表单的四个遮罩层 */
.form-mask{
    display: none;
  }
.form-mask1{  
  background-color: rgba(1,127,79,.9);
}
.form-mask2{
  background-color: rgba(7,117,170,.9);
}
.form-mask3{
  background-color: rgba(157,51,115,.9);
}
.form-mask4{
  background-color: rgba(86,62,150,.9);
}
/* 表单的四个遮罩层 */
.diagnose-backgCont, .form-backgCont {
  position: absolute;
  z-index: 16;
  top: 10px;
  right: 0;
  display: table;
  width: 100%;/* 等会去掉 */
}
.form-left, .formLeft{
  position: relative;
  display: table-cell;
  width: 30%;
  height: 200px;
}
.diagnoseForm, .navForm {
  position: absolute;
  z-index: 17;
  right: 0;
  top: 0;
  width: 250px;
  height: 100px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #0089c9;
}
.image-wrapperForm, .form-image-wrapper {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 36%;
  height: 90%;
  border-radius: 100%;
  background-color: white;
}
.image-wrapperForm img, .form-image-wrapper img {
  width: 100%;
  height: auto;
}
.diagnose-textForm, .form-text {
  position: absolute;
  right: 0;
  width: 62%;
  height: 100%;
  line-height: 100px;
  padding: 0 2%;
  font-size: 3em;
  color: white;
  letter-spacing: 2px;
}
.form-right {
  display: table-cell;
  width: 70%;
  height: 200px;
  padding-right: 20%;
  /*background-color: white;*/
}
.form-right-title {
  position: relative;
  height: 100px;
  background-color: white;
}
.formRtTitle-left {
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 60px;
  background-color: #cee6f2;
}
.form-arrow {
  position: absolute;
  right: 0;
  top: 0;
}
.form-arrow img {
  height: 100%;
  width: auto;
}
.diagnoseClose, .diagClose{
  position: absolute;
  z-index: 24;
  color: #0089c9;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}
.diagClose {
    top: -35px;
    right: 15px;
    font-size: 3em;
}
.diagnoseClose:hover, .medical-form-1 .diagClose:hover,
.medical-form-2 .diagClose:hover, .medical-form-3 .diagClose:hover,
.medical-form-4 .diagClose:hover{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.diagnoseClose:hover {
  color: #0089c9;  
}
.medical-form-1 .diagClose:hover {
  color: #017f4f;
}
.medical-form-2 .diagClose:hover {
  color: #0775aa;
}
.medical-form-3 .diagClose:hover {
  color: #9d3373;
}
.medical-form-4 .diagClose:hover {
  color: #563e96;
}
.diagnoseClose:before, .diagClose:before{
  content: "\f00d";
  font-family: "FontAwesome";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.diag-btn-div {
  background-color: white;
  padding-bottom: 100px;
}
.diag-div {
  width: 60%;
  min-height: 200px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 50px;
  background-color: white;
}
.btn-medical {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
  border-radius: 0;
  border: none;
}
.btn-expert, .btn-expert:active {
  background: #52cc9d;
  background: -moz-linear-gradient(left, #52cc9d 0, #017f4f 100%);
  background: -webkit-linear-gradient(left, #52cc9d 0, #017f4f 100%);
  background: linear-gradient(to right, #52cc9d 0, #017f4f 100%);
}
.btn-health, .btn-health:active {
  background: #1ba9f5;
  background: -moz-linear-gradient(left, #1ba9f5 0, #0775aa 100%);
  background: -webkit-linear-gradient(left, #1ba9f5 0, #0775aa 100%);
  background: linear-gradient(to right, #1ba9f5 0, #0775aa 100%);
}
.btn-pressure, .btn-pressure:active {
  background: #e645a5;
  background: -moz-linear-gradient(left, #e645a5 0, #9d3373 100%);
  background: -webkit-linear-gradient(left, #e645a5 0, #9d3373 100%);
  background: linear-gradient(to right, #e645a5 0, #9d3373 100%);
}
.btn-resource, .btn-resource:active {
  background: #8b5ef5;
  background: -moz-linear-gradient(left, #8b5ef5 0, #563e96 100%);
  background: -webkit-linear-gradient(left, #8b5ef5 0, #563e96 100%);
  background: linear-gradient(to right, #8b5ef5 0, #563e96 100%);
}
.backg {
  display: none;
}
.container {
  padding: 0;
}
.main-container {
  width: 98%;
  margin-top: 3.5%;
}
.main-container img {
  padding: 0;
  width: 100%;
  height: auto;
}
.mainContRow {
  margin-bottom: 60px;
}
.main-cont-nav {
  position: absolute;
  z-index: 5;
  right: 7%;
  top: 0;
  bottom: -37%;
  width: 45%;
  padding-left: 1.81%;
  color: white;
}
.main-cont-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-cont-nav a {
  text-decoration: none;
  color: white;
  padding: 10%;
  margin-left: -3.9%;
  display: block;
  margin-bottom: 1px;
  font-size: 1.7em;
}
.main-cont-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.mainContNav1 {
  background: -moz-linear-gradient(-45deg, #52cc9d 0, #017f4f 100%);
  background: -webkit-linear-gradient(-45deg, #52cc9d 0, #017f4f 100%);
  background: linear-gradient(135deg, #52cc9d 0, #017f4f 100%);
}
.mainContNav2 {
  background: -moz-linear-gradient(-45deg, #1ba9f5 0, #0775aa 100%);
  background: -webkit-linear-gradient(-45deg, #1ba9f5 0, #0775aa 100%);
  background: linear-gradient(135deg, #1ba9f5 0, #0775aa 100%);
}
.mainContNav3 {
  background: -moz-linear-gradient(-45deg, #e645a5 0, #9d3373 100%);
  background: -webkit-linear-gradient(-45deg, #e645a5 0, #9d3373 100%);
  background: linear-gradient(135deg, #e645a5 0, #9d3373 100%);
}
.mainContNav4 {
  background: -moz-linear-gradient(-45deg, #8b5ef5 0, #563e96 100%);
  background: -webkit-linear-gradient(-45deg, #8b5ef5 0, #563e96 100%);
  background: linear-gradient(135deg, #8b5ef5 0, #563e96 100%);
}
.mainContNavTitle {
  font-size: 2em;
  margin-bottom: 24px;
}
.mr {
  background-color: white;
  padding: 1px 9px;
  color: green;
  border-radius: 100%;
  margin-right: 0;
  position: absolute;
  right: 7px;
}
.more:before {
  content: "\f105";
  position: relative;  /*top: 2px;*/
  font-family: "FontAwesome";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.footer-nav {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #DBE0E4;
}
.navDiv {
  padding: 0;
  margin: 0;
}
.footer-nav:hover {
  background-color: #0185C5;
  color: white;
}
.footEnd {
  background-color: #0185C5;
  text-align: center;
  color: white;
  padding: 15px 0 30px 0
}
@media (min-width:768px) {

  /* 一键查询 */
  .diagnose-text {
    margin-left: 50px;
    height: 62px;
    line-height: 62px;
    color: #fff;
    margin-right: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
  }
  .diagnose-time {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
  }
  .time {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  /* 一键查询表单 */
  .form-left,.formLeft {
    width: 35%;
  }
  .form-right {
    position: relative;
    z-index: 999;
    width: 65%;
    padding-right: 6%;
  }
  .form-right .formTitle{
  margin-top: 40px;
  font-size: 1.8em;
  }
  .form-right label,.form-right .patientSex-M, .form-right .patientSex-F{
    font-size: 1.5em;
  }
.form-right .optionActive{
  margin-top: -5px;
  height: 45px;
  line-height: 45px;
}
.form-right .option-1,.form-right .option-2,.form-right .option-3{
  height: 40px;
  line-height: 40px;
}
  .diagnoseForm, .navForm {
    height: 80px;
  }
  .image-wrapperForm, .form-image-wrapper {
    width: 28.8%;
  }
  .diagnose-textForm, .form-text {
    width: 69%;
    line-height: 80px;
    font-size: 2.5em;
    padding-left: 5%;
  }
  .form-right-title {
    height: 80px;
  }
  .formRtTitle-left {
    width: 75%;
    font-size: 2.5em;
    padding: 1.5% 0 1.5% 5%;
  }
  .formRtTitle-left, .form-arrow {
    height: 45px;
  }
  .form-arrow {
    top: .1px;
  }
  .diagnoseClose {
    top: 20px;
    right: 4%;
    font-size: 2em;
  }
  .diag-div{
    padding-top: 30px;
  }
.btn-medical {
    height: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}
  /* 一键查询表单 */
  .main-cont-nav {
    bottom: -20%;
  }
  .mainContNavTitle {
    font-size: 1.7em;
  }
  .main-cont-nav a {
    padding: 6%;
    font-size: 1.2em;
  }
  .mr {
    padding: 0 6px;/* >993px */
  }
  a.footer-nav {
    font-size: 1.2em;
  }
}
@media (min-width:993px) {

  /* 一键查询 */
  .diagnose-text {
    height: 75px;
    line-height: 75px;
    font-size: 2.9em;
    margin-right: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .time {
    top: 55%;
  }

  /* 一键查询表单 */
  .form-left, .formLeft {
    width: 30%;
  }
  .form-right {
    width: 70%;
    padding-right: 15%;
  }
  .form-right .formTitle{
  margin-top: 50px;
  }
  .form-right .optionActive{
  margin-top: -10px;
  height: 60px;
  line-height: 60px;
}
.form-right .option-1,.form-right .option-2,.form-right .option-3{
  height: 50px;
  line-height: 50px;
}
  .diagnoseForm, .navForm {
    height: 100px;
  }
  .image-wrapperForm, .form-image-wrapper {
    height: 90%;
    width: 36%;
  }
  .diagnose-textForm, .form-text {
    width: 60%;
    line-height: 100px;
    padding: 0 2%;
  }
  .form-right-title {
    height: 100px;
  }
  .formRtTitle-left {
    font-size: 3em;
    padding: 1% 0 1% 8%;
    background-color: #cee6f2;
  }
  .formRtTitle-left, .form-arrow {
    height: 60px;
  }
  .diagnoseClose {
    top: 25px;
    right: 4%;
    font-size: 3em;
  }
.diag-div{
    padding-top: 50px;
  }
.btn-medical {
    height: 70px;
    margin-bottom: 30px;
    font-size: 25px;
}
  /* 一键查询表单 */
  .main-container {
    width: 85%;
  }
  .mainContRow {
    margin-bottom: 8%;
  }
  .mainContNavTitle {
    font-size: 2em;
  }
  .main-cont-nav {
    bottom: -25%;
  }
  .main-cont-nav a {
    padding: 9% 0 9% 7%;
    font-size: 1.35em;
  }
  .mr {
    padding: 0 8px;/* >993px */
  }
  a.footer-nav {
    font-size: 1.5em;
  }
}
@media (min-width:1200px) {

  /* 一键查询 */
  .diagnose-text {
    margin-left: 110px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    font-size: 3.8em;
    margin-right: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .diagnose-time {
    font-size: 2.5em;
  }
  .diagnose-time {
    font-size: 3.2em;
    letter-spacing: 1px;
  }
  .mainContNavTitle {
    font-size: 24px;
  }
  .main-cont-nav a {
    padding: 9% 0 9% 7%;
    font-size: 1.65em;
  }
  a.footer-nav {
    font-size: 1.8em;
  }
  .footRow {
    margin-top: 45px;
  }
}
@media (max-width:768px) {
  body {
    padding-bottom: 100px;/* 底部显示*/
  }
  .top-rt {
    display: none;/* 右侧菜单，col-xs时,消失 */
  }
  .logo-div {
    text-align: center;
    padding-top: 0;/* logo居中 */
  }
  .logo {
    margin-left: 0;
  }
  .nav-row {
    display: block;/* 屏幕<768px时,可见 */
  }
  .nav-xs {
    margin: 0;
    padding: 25px 0 0 0;
  }
  .nav-xs a {
    text-decoration: none;
    color: white;
    height: 40px;
    line-height: 35px;
    font-size: 1.3em;
    text-align: center;
    padding: 0;
  }
  .top {
    padding-bottom: 15px;
  }
  .nav-xs-1 {
    background-color: #017f4f;
  }
  .nav-xs-2 {
    background-color: #0775aa;
  }
  .nav-xs-3 {
    background-color: #9d3373;
  }
  .nav-xs-4 {
    background-color: #563e96;
  }
  .swiper-container {
    display: none;/* 轮播图不可见 */
  }
  .phoneSwiper {
    display: block;
    width: 100%;
  }
  .phoneSwiper img {
    width: 100%;
    height: auto;
  }
  
  /* 一键查询 */
  .phone-diagnose {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 18px 0;
    background-color: white;
    text-align: center;
  }
  .diagnose-mask .diagnose-backgCont {
    display: none;/* 一键咨询，屏幕<767px时，遮罩层隐藏 */
  }
  .diagnose-mask{
    background-color: none;
  }
  .diagnose-btn {
    margin: 0 auto;
    height: 64px;
    width: 85%;
    font-size: 2.4em;
    color: white;
    line-height: 64px;
    cursor: pointer;
    background-color: #0185c5;
  }
  .delPaddAll {
    padding: 0;
  }
  .backg {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(145, 145, 145, .8);
    top: 0;
    left: 0;
  }
  .backgCont {
    position: fixed;
    z-index: 21;
    bottom: 120px;
  }
  .selectType {
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding-left: 5%;
    font-size: 2.5em;
    color: #0185c5;
    background-color: white;
  }
  .phoneDiag1, .phoneDiag2, .phoneDiag3, .phoneDiag4 {
    height: 105px;
    text-align: center;
    line-height: 105px;
  }
  .phoneDiag1 a, .phoneDiag2 a, .phoneDiag3 a, .phoneDiag4 a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
  }
  .phoneDiag1 a:hover, .phoneDiag2 a:hover, .phoneDiag3 a:hover, .phoneDiag4 a:hover {
    background-color: rgba(0, 0, 0, .2);
  }
  .close {
    position: absolute;
    z-index: 24;
    top: 10px;
    right: 15px;
  }
  .close:before {
    content: "\f00d";
    font-family: "FontAwesome";
    speak: none;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .main-container {
    margin-top: 15px;
  }
  .mainContRow {
    margin-bottom: 0;
  }
  .mainContRow img {
    display: none;
  }
  .main-cont-nav {
    position: relative;
    width: 100%;
    right: 0;
    padding: 0.1% 2%;
    min-height: 172px;
    overflow: visible;
    margin-bottom: 5px;
  }
  .main-cont-nav a {
    width: 104%;
    padding: 2.2%;
    margin-left: -2%;
    font-size: 1.7em;
  }
  .mainContNavTitle {
    padding-left: 5%;
  }
  .mainCtList {
    margin-left: 10%;
  }
  .mr {
    right: 8%;
  }
  .footEnd {
    padding: 15px 10px;
  }
  a.footer-nav {
    height: 40px;
    line-height: 40px;
    font-size: 1.6em;
  }
}

/* index */

.form-section {
  display: none;
}
.form-section.active {
  display: block;
}